cloud_id                 = "b1g5ina9qbhqupkm6jb0"
folder_id                = "b1g45b2ueser4lkvkknm"
subnet_id                = "e9b52tgnhogstsp1k64d"
public_key_path          = "/home/vladimir/.ssh/mykey.pub"
private_key_path         = "/home/vladimir/.ssh/mykey"
service_account_key_file = "./key.json"
zone                     = "ru-central1-a"
instance_count           = "1"
app_disk_image           = "fd85ca2jviutmh4jgplv"
db_disk_image            = "fd88v0oeo7u592m85crj"
instance_app_name        = "stage-reddit-app"
instance_db_name         = "stage-reddit-db"
name_prefix              = "prod-"
